.wrapper {
    max-width: 1000px;
}

.header {
    position: relative;
    display: flex;
    margin: 0 0 2rem;
    align-items: center;
}


h2 {
    display: inline-block;
}

.new-btn {
    float: right;
    position: absolute;
    right: 0;
}

@media (max-width: 400px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .new-btn {
        margin-top: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .new-btn {
        position: relative;
        margin-top: 1rem;
    }

    .container-audio {
        width: 100% !important;
    }

}