<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/music.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/music.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stars.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/title.css}"/>

    <title>myMusic</title>
</head>

<body>
<div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>
<div class="wrapper">
    <div class="header">
        <article>
            <h1>myMusic</h1>
        </article>
        <button class="new-btn" style="--clr:#39FF14" onclick="openFileInput()">
            <span>New</span><i></i>
        </button>
    </div>

    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr th:each="audio : ${audioList}">
                <td th:text="${audio.name}"></td>
                <td th:text="${#dates.format(audio.uploadDate, 'dd-MMM-yyyy')}"></td>
                <td>
                    <button style="--clr:#0FF0FC" th:attr="onclick=|playAudio('${audio.fileUrl}')|">
                        <span>Play</span><i></i>
                    </button>
                    <button class="delete-btn" style="--clr:#FF3131" th:attr="onclick=|deleteAudio('${audio.id}')|">
                        <span>Delete</span><i></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container-audio">
        <audio id="audioPlayer" controls>
            Your browser does not support the audio tag.
        </audio>
    </div>
</div>

<form id="uploadForm" method="POST" action="/audio/upload" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" accept="audio/mp3" style="display: none" onchange="submitForm()">
</form>

<script>
    // Upload
    function openFileInput() {
        console.log("File input clicked");
        document.getElementById('fileInput').click();
    }

    async function submitForm() {
        console.log("Form submitted");

        var formData = new FormData(document.getElementById('uploadForm'));

        try {
            const response = await fetch('/audio/upload', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                console.log('File uploaded successfully');
                location.reload();
            } else {
                console.error('Error uploading file');
                location.reload();
            }
        } catch (error) {
            console.error('Error during form submission:', error);
        }
    }

    // Play
    function playAudio(audioUrl) {
        var audio = document.getElementById('audioPlayer');
        audio.src = audioUrl;
        audio.load();
        audio.play()
            .then(() => {
                // Audio is playing.
            })
            .catch(error => {
                console.log(error);
            });
    }

    // Delete
    async function deleteAudio(audioId) {
        try {
            const response = await fetch(`/audio/delete/${audioId}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                console.log('Audio deleted successfully');
                location.reload();
            } else {
                console.error('Error deleting audio');
                location.reload();
            }
        } catch (error) {
            console.error('Error during delete:', error);
        }
    }
</script>

</body>

</html>
